@media only screen and (max-width: 1024px) {
    html {
        font-size: 18px;
    }

    .container {
        padding: 0 15px; 
    }

    .btn {
        font-size: 100%;
    }

    .intro__img {
        width: 350px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 20px; 
    }

    .intro {
        height: 430px;
    }

    .intro__title {
        font-size: 300%;
    }

   .intro__subtitle {    
        font-size: 140%;
    }    

    .intro__img {
        width: 240px;
    }

    .projects__title {
        margin-bottom: 40px;
    }

    .project__item--left,
    .project__item--right {
        margin-bottom: 100px; 
    }

    .project__item--left:last-child {
        padding-bottom: 110px;
    }

    .about__bg {
        margin-top: -100px;    
    }

    .about__title {
        margin-bottom: 30px;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
    }

    .about__info {
        width: 100%;
        margin: 20px auto;
    }

    .contact {
        margin: 100px auto 0;    
    }

    .thanks__title {
        font-size: 300%;
    }

    .thanks__msg {
        font-size: 120%;
    }
    
    .thanks__link {
        font-size: 110%;
    }

    .thanks__img  {
        width: 220px;
    }
}

@media only screen and (max-width: 582px) {
    .container {
        padding: 0 15px; 
    }

    .btn {
        padding: 10px 15px;
    }  
    
    .btn__pagegup {
        display: block;
    }

    .navbar {
        justify-content: center;
    }

    .navbar__logo {
        display: none;
    }

    .navbar__items {
        justify-self: center;
    }

    .navbar__items li  {
        margin: 20px 5px;       
    }
    
    .navbar__item {
        font-size: 100%;
        margin-left: 0;
    }

    .intro {
        height: 550px;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 50px;
    }

    .intro__title {
        font-size: 250%;
    }

    .intro__subtitle {    
        font-size: 140%;
    }    

    .intro__img {        
        width: 200px;
        margin-top: 40px;
    }

    .project__item--left,
    .project__item--right {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 100px;         
    }

    .project__item--left:last-child {
        padding-bottom: 90px;
    }

    .project__info--left,
    .project__info--right {
        width: 100%;
        margin: 0;
    }    

    .project__name {
        text-align: center;
    }

    .project__img {
        width: 90%;
        height: 90%;
        padding-bottom: 15px;
    }   

    .about {
        margin: 0 auto -100px;
    }

    .about__img {
        width: 50%;   
        height: 50%;
        margin-bottom: 15px;
    }

    .contact__bg {
        margin-top: -80px;
    }

    .contact__title {    
        margin-top: -60px;
    }
    
    .contact__description {    
        margin-bottom: 40px;
        font-size: 100%;
    }

    .contact__form-txt {
        font-size: 90%;
    }

    .social-media__link {
        font-size: var(--icon-medium);
    }

    .thanks__title {
        font-size: 250%;
    }

    .thanks__msg {
        font-size: 110%;
    }

    .thanks__img {
        width: 200px;
    }
}

@media only screen and (max-width: 395px) {
    html {
        font-size: 16px;
    }

    .intro__title--small {
        font-size: 45%;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        padding: 0 10px;             
    }

    .navbar {
        position: static;
        left: 0;
        transform: translate(0, 0);  
        width: 100%;  
        text-align: center;    
    }    

    .navbar__items li  {                
        margin: 20px 3px 10px;       
    }

    .navbar__item {
        font-size: 110%;        
        margin-left: 0;
    }

    .intro {
        height: 400px;
    }

    .intro__title {
        font-size: 210%;
    }

    .intro__subtitle {    
        font-size: 120%;
    } 
    
    .intro__img {
        width: 180px;
        margin-top: 0;
    }

    .social-media__item {
        padding: 20px 25px 40px;
    }

    .thanks__title {
        font-size: 210%;
    }

    .thanks__img {
        width: 180px;
    }

}