@media only screen and (max-width: 1024px) {
    html {
        font-size: 18px;
    }

    .container {
        padding: 0 15px; 
    }

    .btn {
        font-size: 100%;
    }

    #intro img {
        width: 350px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 20px; 
    }

    #intro {
        height: 430px;
    }

    h1,
    #thanks h2{
        font-size: 300%;
    }

    #intro h2 {    
        font-size: 140%;
    }    

    #intro img {
        width: 240px;
    }

    #projects h2 {
        margin-bottom: 40px;
    }

    #project-one,
    #project-three {
        margin-bottom: 100px; 
    }

    #project-two {
        margin-bottom: 100px;   
    }

    .bg-two {
        margin-top: -100px;    
    }

    #about h2 {
        margin-bottom: 30px;
    }

    #about-content {
        flex-direction: column;
        align-items: center;
    }

    #about-text {
        width: 100%;
        margin: 20px auto;
    }

    #contact {
        margin: 100px auto 0;    
    }

    #thanks p {
        font-size: 120%;
    }
    
    #thanks a {
        font-size: 110%;
    }

    #thanks img {
        width: 220px;
    }
}

@media only screen and (max-width: 582px) {
    .container {
        padding: 0 15px; 
    }

    .btn {
        padding: 10px 15px;
    }  
    
    #back-to-top {
        display: block;
    }

    #navbar {
        justify-content: center;
    }

    #logo {
        display: none;
    }

    #menu {
        justify-self: center;
    }

    #menu li  {
        display: inline-block;         
        margin: 20px 5px;       
    }
    
    #menu a {
        font-size: 100%;
        margin-left: 0;
    }

    #intro {
        height: 550px;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 50px;
    }

    h1,
    #thanks h2 {
        font-size: 250%;
    }

    #intro h2 {    
        font-size: 140%;
    }    

    #intro img {        
        width: 200px;
        margin-top: 40px;
    }

    #project-one,
    #project-two,
    #project-three {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 100px;         
    }

    #project-one .project-info,
    #project-two .project-info,
    #project-three .project-info {
        width: 100%;
        margin: 0;
    }

    #projects h3 {
        text-align: center;
    }

    .project-screens {
        width: 90%;
        height: 90%;
        padding-bottom: 15px;
    }   

    #about {
        margin: 0 auto -100px;
    }

    #img-about {
        width: 50%;   
        height: 50%;
        margin-bottom: 15px;
    }

    #contact .bg-one {
        margin-top: -80px;
    }

    #contact h2 {    
        margin-top: -60px;
    }
    
    #contact p {    
        margin-bottom: 40px;
        font-size: 100%;
    }

    .text-form {
        font-size: 90%;
    }

    footer li a {
        font-size: var(--icon-medium);
    }

    #thanks p {
        font-size: 110%;
    }
    
    #thanks a {
        font-size: 100%;
    }

    #thanks img {
        width: 200px;
    }
}

@media only screen and (max-width: 395px) {
    html {
        font-size: 16px;
    }

    h1 span {
        font-size: 45%;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        padding: 0 10px;             
    }

    header {
        position: static;
        left: 0;
        transform: translate(0, 0);  
        width: 100%;      
    }    

    #menu li  {                
        margin: 20px 3px 10px;       
    }

    #menu a {
        font-size: 110%;        
        margin-left: 0;
    }

    #intro {
        height: 400px;
    }

    h1,
    #thanks h2 {
        font-size: 210%;
    }

    #intro h2 {    
        font-size: 120%;
    } 
    
    #intro img {
        width: 180px;
        margin-top: 0;
    }

    header {
        text-align: center;
    }

    footer li {
        padding: 20px 25px 40px;
    }

    #thanks img {
        width: 180px;
    }

}