@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #3e3d3f;
    background: #f0e3ff;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 10px;    
    margin: 0 auto; 
}

h2 {    
    font-size: 200%;
    padding-bottom: 20px;
}

/* Buttons */
.btn,
input[type="submit"] {
    padding: 12px 20px;
    border-radius: 8px;
    background: #d089ff;   
}

.btn:hover,
input[type="submit"]:hover {
    background: #ac40f3;
}

.btn a,
input[type="submit"] {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
}

/* Header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 60px;
    border-radius: 50%;
    margin: 20px 40px;
}

#menu {
    margin-right: 40px;
    justify-self: flex-end;
}

#menu li  {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    color: #5d5c5f;
    font-weight: 400;
    font-size: 1.3rem;
}

#menu a:hover {
    border-bottom: 2px solid #000;
    color: #000;
}

#menu .btn a {
    color: #fff;
    border-bottom: none;
}

/* Introduction Section */
#intro {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 4rem;
    padding-bottom: 10px;
}

h1 span {
    font-size: 35%;
}

#intro img {
    width: 400px;
    border-radius: 50%;
    border: 4px solid #ff8a98;
}

/* Projects Section */
.bg-one {
    height: 150px;   
    background-image: linear-gradient(5deg, #fab4bc 48.69%, #f0e3ff 49%); 
    margin-top: -30px;
}

#projects {    
    background-color: #fab4bc;
}

#projects h2 {
    margin: -70px 0 70px;
}

#project-one,
#project-three {
    display: flex; 
    justify-content: center;  
    padding-bottom: 150px;
    width: 80%;
    margin: 0 auto;
}

#project-two {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 150px;
    width: 80%;
    margin: 0 auto;
}

#project-one .project-info,
#project-three .project-info {
    margin: 0 30px 0 -50px;
}

#project-two .project-info {
    margin: 0 -50px 0 30px;
}

#projects h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;    
    color: #150e72;
    font-family: 'Roboto Mono', monospace;
}

.project-technologies {
    font-size: 1.5rem;
    color: #fff;    
}

.project-technologies i {
    margin: 20px 5px 20px 0;
}

.project-screens {
    position: relative;
}

.desktop {    
    border: 3px solid #150e72;
    border-radius: 4px;
    width: 450px;
    height: 250px;      
}

.mobile {    
    border: 3px solid #150e72;
    border-radius: 4px;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 70px;
}

#project-one .desktop {
    background: url('../images/oops-desktop.bmp') no-repeat bottom center / cover;        
}

#project-one .mobile {    
    background: url('../images/oops-mobile.bmp') no-repeat center center / cover;
    right: -50px;    
}

#project-two .desktop {
    background: url('../images/restaurant104-desktop.bmp') no-repeat center center / cover;
}

#project-two .mobile {
    background: url('../images/restaurant104-mobile.bmp') no-repeat top center / cover;
    left: -50px;    
}

#project-three .desktop {
    background: url('../images/tindog-desktop.bmp') no-repeat bottom center / cover;        
}

#project-three .mobile {    
    background: url('../images/tindog-mobile.bmp') no-repeat center center / cover;
    right: -50px;    
}

/* About Section */
#about h2 {
    margin: 50px 0;
}

#about .content {
    display: flex;
}
#img-about {
    width: 300px;
    border-radius: 4px;
}

.about-text {
    margin-left: 50px;
}

.about-text p {
    margin-bottom: 20px;    
    line-height: 1.5;
}

.about-text i {
    font-size: 2rem; 
    margin: 0 5px 40px 0;   
}

/* Contact Section */
#contact h2 {
    margin: 100px 0 50px;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    margin: 10px auto 20px;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ac40f3;
    font-size: 20px;
    background-color: #ddbff1;
    color: #3c5b9d;    
}

input::placeholder {
    color: #3c5b9d;
}
