@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
    /* Colours */
    --color-primary: #D089FF;
    --color-primary-lighter: #EFD6FF;
    --color-primary-darker: #684580;
    --color-primary-medium: #A66ECC;
    --color-primary-gray: #776B80;
    --color-light: #FFF;
    --color-dark: #4b315c;
    /* Icons size*/
    --icon-small: 1.2rem;
    --icon-medium: 1.6rem;
    --icon-big: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-primary-darker);
    background: var(--color-primary-lighter);
    scroll-behavior: smooth;
    scroll-padding-block: 100px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;    
    margin: 0 auto; 
}

h2 {    
    font-size: 200%;
    padding-bottom: 30px;
    font-family: 'Roboto Mono', monospace;
}

li  {
    display: inline-block;
    list-style: none;    
}

/* Buttons */
.btn {
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    background: var(--color-primary);   
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 400;
    font-size: 90%;
    margin-right: 8px;
}

.btn:hover {
    background: var(--color-primary-lighter);
    border: 2px solid var(--color-primary-darker);
    color: var(--color-primary-darker);
    transition: ease .3s;
}

.btn__ghost--dark {
    background: var(--color-primary-darker);
    border: 2px solid var(--color-primary-lighter);
    color: var(--color-primary-lighter);
}

.btn__ghost--light {
    background: var(--color-primary-lighter);
    border: 2px solid var(--color-primary-darker);
    color: var(--color-primary-darker);
}

.btn__ghost--light:hover {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-dark);
}

/* Header */
.navbar {
    background-color: rgba(239, 214, 255, .9);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);  
    width: 100%;      
}

.navbar__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    width: 60px;
    border-radius: 50%;
    margin: 10px 0;
    opacity: 1;
}

.navbar__logo:hover {
    opacity: .7;
    transition: ease .3s;
}

.navbar__items {
    justify-self: flex-end;
}

.navbar__item {
    text-decoration: none;
    color: var(--color-primary-darker);
    font-weight: 400;
    font-size: 110%;
    margin-left: 20px;
}

.navbar__item:hover {
    border-bottom: 2px solid var(--color-primary-medium);
    color: var(--color-primary-medium); 
    transition: ease .3s;
}

.intro {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.intro__title {
    font-size: 350%;
    padding-bottom: 10px;
}

.intro__title--small {
    font-size: 35%;
    font-family: 'Roboto Mono', monospace;
}

.intro__subtitle {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.intro__img {
    width: 400px;
    border-radius: 50%;
    border: 4px solid var(--color-primary-medium);
}

/* Projects Section */
.projects__bg {
    width: 100%;
    height: 150px;   
    background-image: linear-gradient(5deg, var(--color-primary-darker) 49.69%, var(--color-primary-lighter) 50%); 
    margin-top: -30px;
}

.projects {    
    background-color: var(--color-primary-darker);
    color: var(--color-primary-lighter);
}

.projects__title {
    margin: -70px 0 60px;
    color: var(--color-primary-lighter);
}

.project__item--left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 150px; 
}

.project__item--left:last-child {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.project__item--right {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 150px;   
}

.project__info--left {
    width: 50%;
    margin-left: 20px;
}

.project__info--right {
    width: 50%;
    margin-right: 20px;
}

.project__name {
    margin-bottom: 20px;
    font-size: 160%; 
    font-family: 'Roboto Mono', monospace;
    color: var(--color-light);
}

.project__description {
    color: var(--color-light);
    text-align: left;
    width: 100%;
}

.project__icon {
    margin: 20px 10px 30px 0;
    font-size: var(--icon-small);
}

.project__img {
    width: 50%;
    height: 50%;
}

/* About Section */
.about__bg {
    height: 150px;   
    background-image: linear-gradient(5deg, var(--color-primary-lighter) 48.69%, var(--color-primary-darker) 49%);
    margin-top: 0;    
}

.about {
    margin: 0 auto 50px;
}

.about__title {
    margin: -70px 0 50px;
}

.about__content {
    display: flex;
}

.about__img {
    width: 30%;   
    height: 30%;
    border-radius: 8px;
}

.about__info {
    display: block;
    width: 65%;
    margin-left: 30px;
}

.about__description {
    margin-bottom: 20px;    
    line-height: 1.5;
}

.about__icon {
    font-size: var(--icon-medium); 
    margin: 0 20px 40px 0;   
}

/* Contact Section */
.contact__bg {
    width: 100%;
    height: 150px;   
    background-image: linear-gradient(5deg, var(--color-primary-darker) 49.69%, var(--color-primary-lighter) 50%); 
    margin-top: -10px;
}

.contact {
    clear: both;
    background-color: var(--color-primary-darker);
    color: var(--color-primary-lighter);
    padding-bottom: 50px;
}

.contact__title {    
    margin: -70px 0 10px;
    
}

.contact__description {    
    margin-bottom: 50px;
    font-size: 110%;
}

.contact__form {
    margin: 0 auto;
}

.contact__form-lb {
    font-weight: 500;
}

.contact__form-lb:hover {
    color: var(--color-primary);
    transition: ease .3s;
}

.contact__form-txt {
    display: block;
    margin: 10px auto 20px;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid var(--color-primary-lighter);
    font-family: 'Roboto Mono', monospace;
    font-size: 80%;
    background-color: var(--color-primary-darker);
    color: var(--color-primary-lighter);
    outline: none;    
}

.contact__form-txt:hover,
.contact__form-txt:focus-visible {
    border: 2px solid var(--color-primary);
    transition: ease .3s;
}

.contact__form-txt::placeholder {
    color: var(--color-primary-lighter);    
    font-family: 'Roboto Mono', monospace;
}

hr {
    border: .5px solid var(--color-primary-medium);
}


/* Footer */
.social-media {
    background-color: var(--color-primary-darker);
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.social-media__item {
    padding: 20px 30px 40px;
}

.social-media__link {
    font-size: var(--icon-big);
    color: var(--color-primary-lighter);    
}

.social-media__link:hover {
    color: var(--color-primary);
    transition: ease .3s;
}

.copyright {
    font-size: 80%;
    color: var(--color-primary-lighter);
}

/* Thank You Page */
.thanks {
    text-align: center;
    margin: auto;
}

.thanks__title {
    font-size: 350%;
    margin-bottom: 10px;
}

.thanks__msg {
    font-size: 130%;
    margin-bottom: 50px;
}

.thanks__link {
    font-size: 120%;
    color: var(--color-primary-darker);
    font-weight: 500;
}

.thanks__link:hover {
    color: var(--color-primary-medium);
}

.thanks__img {
    margin: 100px auto 30px;
    width: 250px;
    border-radius: 50%;
    border: 4px solid var(--color-primary-medium);
}


